{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}

{% assign begin_address = page.address | slice: 0, 4 | downcase  %}
{% if page.address == "online" %}
{% assign online = "true_private" %}
{% elsif begin_address contains "http" %}
{% assign online = "true_public" %}
{% else %}
{% assign online = "false" %}
{% endif %}

<div class="jumbotron">

  <div class="row">

     <div class="col-md-4 col-md-offset-1">
     <img src="{{ relative_root_path }}{% link /assets/img/esm.png %}" alt="Earth System Modeling Logo Image" /></img>
     </div>

     <div class="col-md-4 col-md-offset-1" >
       {% unless site.title == "Workshop Title" or site.title == "" %}
       <h2>{{site.title}}</h2>
       {% endunless %}
       <h3>George Mason University, Department of Atmosphereic, Oceanic, and Earth Sciences</h3>

       <strong>Location/Dates/Times:</strong> Online
       <p>{{page.humandate}}</p>
       <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>

       strong>Instructor:</strong><a href="kathypegion.com">Prof. Kathy Pegion</a>
     </div>


    </div>
</div>
