<div class="row">
  <div class="col-md-2">
    <h3 id="syllabus-shell">Date</h3>
  </div>
  <div class="col-md-5">
    <h3 id="">10:30-11:40</h3>
  </div>
  <div class="col-md-5">
    <h3 id="">Noon-1:10</h3>
  </div>
</div>


<div class="row">
  <div class="col-md-2">
    <h3 id="syllabus-git">Intro and Overview</h3>
  </div>
  <div class="col-md-5">
    Class Intro
  </div>
  <div class="col-md-5">
    <a href="https://kpegion.github.io/AOES-CLIM-intro-cola-computing/">Intro to COLA Computing</a>
  </div>
</div>
